
body {
		font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:black;
    height:665px;
    background-image: url("./img/fondo2.png");
    background-size: 10rem;
    margin-left: 100px auto;
    }

.pago {
	color: black;
    font-weight: 500;
    font-size: 23px;
}

/* .clase-body {
    background-image: url('./img/fondo2.jpg');
} */

